/*  ANIAMTE SUN */


#sun-middle {
    animation: sun-middle 50s infinite linear alternate;
    transform-origin: center;
    transform-box: fill-box;
}

#sun-outer {
    animation: sun-outer 170s infinite linear alternate;
    transform-origin: center;
    transform-box: fill-box;

}


@keyframes sun-middle {
    from{
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes sun-outer {
    from{
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(-360deg);
    }
}

/* / ANIMATE SUN */

/* BODY ANIMATE */


#surfer-total {
    animation: surfer-total 2s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;

}

@keyframes surfer-total {
    0%,
    100% {
        transform: translate(0%, 5%);
    }
    50% {
        transform: translate(-20%, 25%) ;
    }

    85% {
        transform: translate(3%, 4%);
    }
}










#board-legs {
    animation: board-legs .4s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}


@keyframes board-legs {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-4%);
    }
}



#face-total {
    animation: face-total 3s ease-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes face-total {

    0% {
        transform: scale(1);
    }

    45% {
        transform: scale(1.05) rotate(-10deg);
    }

    70% {
        transform: scale(1.05) rotate(2deg);
    }

    100% {
        transform: scale(1.05);
    }

}

#eyebrow-right,
#eyebrow-left{
    animation: eyebrow 3s ease-out infinite alternate;
}

@keyframes eyebrow {

    0% {
        transform: translateY(0%);
    }

    10% {
        transform: translateY(-1%);
    }

    50% {
        transform: translateY(0%);
    }

    70% {
        transform: translateY(-1%);
    }


    100% {
        transform: translateY(-1%);
    }
}

#cheek-right-small,
#cheek-right,
#cheek-left {
    animation: cheeks 3s  ease-out infinite alternate;

}

@keyframes cheeks {


    10% {
        transform: rotate(-.2deg);
    }

    50% {
        transform: rotate(0deg);
    }

    70% {
        transform: rotate(-.2deg);
    }

    100% {
        transform: rotate(-.2deg);
    }
}


#mouth,
#teeth-bottom,
#teeth-top {
    animation: mouth 3s  ease-out infinite alternate;
    transform-origin: bottom left;
    transform-box: fill-box;
}

@keyframes mouth {


    10% {
        transform: rotate(-.3deg) scale(1.05);
    }

    50% {
        transform: rotate(0deg) scale(1);
    }

    70% {
        transform: rotate(-.3deg) scale(1.05);
    }

    100% {
        transform: rotate(-.3deg) scale(1.05);
    }
}


#hand-left {
    animation: hand-left 1.1s  ease-out infinite alternate;
    transform-origin: top right;
    transform-box: fill-box;
}


@keyframes hand-left {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(15deg);
    }
}

#hand-right {
    animation: hand-right 1.1s  ease-out infinite alternate;
    transform-origin: top left;
    transform-box: fill-box;
}

@keyframes hand-right {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-29deg);
    }
}

/* / BODY ANIMATE */



/* WAVE ANIMATE */

#whitewater circle {
    animation: whitewater .0076s ease-in infinite alternate;
    transform-origin: bottom right;
    transform-box: fill-box;
}

@keyframes whitewater {
    from {
        transform: translate(0%, 0%);
    }

    to {
        transform: translate(0%, 10%) skewY(20deg) scale(1.2);
    }

}


.wave-under {
    animation: wave-under 1s ease-in-out  infinite alternate;

}

@keyframes wave-under {
    from{
        transform: translateY(0%);
    }
    to {
        transform: translateY(2%);
    }
}


#waves {
    animation: waves 1.5s ease-in-out infinite alternate;
    transform-origin: bottom left;
    transform-box: fill-box;

}

@keyframes waves {
    from{
        transform: translateY(0%);
    }
    to {
        transform: translateY(2%) rotateX(15deg) ;
    }
}

.waves-secondary {
    animation: waves-secondary 1.5s ease-in-out .2s infinite alternate;
}

@keyframes waves-secondary {
    from{
        transform: translateY(0%);
    }
    to {
        transform: translateY(3%) scale(1.005);
    }
}


/* / WAVE ANIMATE */


  #wind1 path {
    stroke-dasharray: 39592.87890625;
    stroke-dashoffset: 39592.87890625;
    animation: dash1 1.6s linear forwards infinite;

    /* @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        animation-delay: random(2) + ($i - 1) * 6 + 3s;
      }
    } */
  }


@keyframes dash1 {

    0% {
        stroke-dashoffset: 39592.87890625;
        transform: translateX(0%);
      }

      40% {
        stroke-dasharray: 30592.87890625;
        stroke-dashoffset: 0;
      }


    100% {
        stroke-dasharray: 39592.87890625;
        stroke-dashoffset: -39592.87890625;
        transform: translateX(100%);
    }
}

#wind2 path {
    stroke-dasharray: 39592.87890625;
    stroke-dashoffset: 39592.87890625;
    animation: dash2 1.6s linear .7s forwards infinite;
/*
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        animation-delay: random(2) + ($i - 1) * 6 + 3s;
      }
    } */
  }


@keyframes dash2 {

    0% {
        stroke-dashoffset: 39592.87890625;
        transform: translateX(0%);
      }

      40% {
        stroke-dasharray: 30592.87890625;
        stroke-dashoffset: 0;
      }


    100% {
        stroke-dasharray: 39592.87890625;
        stroke-dashoffset: -39592.87890625;
        transform: translateX(100%);
    }
}


/* SHARK */

#shark {
    animation: shark 12s linear infinite forwards;
    transform-origin: center;
    transform-box: view-box;
}

@keyframes shark {

    0% {
        transform: translate(-20%, 100%) scale(2) rotateY(30deg);
    }

    40% {
        transform: translate(180%, 130%) scale(3.1) rotateY(-60deg);
    }

    100% {
        transform: translate(200%, 135%) scale(2);
    }
}

/* /SHARK */


/* to html */



/* <?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg class="total-surf" width="100%" height="100%" viewBox="0 0 153573 104085" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g id="sun" transform="matrix(0.471692,0,0,0.471692,4617.77,2916.36)">
        <g id="sun-outer">
            <g transform="matrix(2.12003,0,0,2.12003,-10077.7,-7045.6)">
                <path d="M125226,5693.76C124452,7800.65 123829,9538.69 123846,9555.46C123864,9572.23 124172,9538.69 124533,9482.81C125057,9398.98 125500,9376.63 126676,9376.63C127852,9376.63 128294,9398.98 128818,9482.81C129179,9538.69 129488,9572.23 129505,9555.46C129546,9521.93 126722,1860 126676,1860C126658,1860 126006,3586.87 125226,5693.76Z" style="fill:rgb(241,187,136);fill-rule:nonzero;stroke:rgb(241,187,136);stroke-width:1px;"/>
            </g>
            <g transform="matrix(2.12003,0,0,2.12003,-7061.32,-7618.01)">
                <path d="M140100,9273.74C140566,9063.26 140847,8938.45 140859,8938.45C140882,8932.86 140899,8944.04 140899,8960.81C140899,9011.1 137284,16281.8 137237,16326.5C137208,16354.5 137086,16237.1 136963,16075.1C136247,15120.7 135290,14135 134348,13373.7L134348,13373.4C134165,13225.4 133982,13085.8 133802,12956.6C133441,12699.6 133173,12470.4 133196,12448.1C133226,12420.1 134949,11621 137028,10670.9C138083,10189.8 139045,9751.69 139740,9436.41C139950,9320.53 140081,9258.93 140100,9273.74Z" style="fill:rgb(241,187,136);fill-rule:nonzero;stroke:rgb(241,187,136);stroke-width:1px;"/>
            </g>
            <g transform="matrix(2.12003,0,0,2.12003,-9789.8,-6182.75)">
                <path d="M114792,15401.1C114740,15350.8 111497,8773.06 111450,8616.58C111427,8543.93 111480,8499.22 111666,8437.75C111806,8387.45 111922,8348.33 111934,8348.33C111963,8337.15 118787,11477.9 118833,11522.6C118856,11545 118583,11774.1 118222,12031.2C117378,12629.2 115963,13992.8 115322,14814.3C115054,15160.8 114816,15423.5 114792,15401.1C114765,15375 113877,13587.2 113023,11853.1L113023,11852.9L114792,15401.1Z" style="fill:rgb(241,187,136);fill-rule:nonzero;stroke:rgb(241,187,136);stroke-width:1px;"/>
            </g>
            <g transform="matrix(12.3435,2.80132e-31,2.91849e-31,-11.8479,212108,87093.7)">
                <path d="M700,4025C323,3891 17,3778 19,3774C24,3764 1383,3280 1389,3285C1391,3287 1384,3344 1374,3412C1347,3585 1347,3975 1374,4143C1384,4208 1390,4263 1389,4265C1387,4267 1077,4159 700,4025Z" style="fill:rgb(241,187,136);fill-rule:nonzero;stroke:rgb(241,187,136);stroke-width:0.18px;"/>
            </g>
            <g transform="matrix(2.12003,0,0,2.12003,-9789.8,-6182.75)">
                <path d="M140609,20481.1C140830,21364.1 140871,23895.7 140684,24985.5C140626,25332 140591,25628.2 140609,25645C140644,25684.1 148626,22973.6 148626,22928.9C148626,22912.1 146943,22325.3 144888,21626.8C141930,20620.8 141086,20352.6 140859,20358.2C140597,20358.2 140580,20369.3 140609,20481.1Z" style="fill:rgb(241,187,136);fill-rule:nonzero;stroke:rgb(241,187,136);stroke-width:1px;"/>
            </g>
            <g transform="matrix(2.12003,0,0,2.12003,-9789.8,-6182.75)">
                <path d="M138364,30664.2C137873,31440.3 136043,33263.7 135110,33910.7C134815,34117.1 134572,34303.6 134572,34327.3C134568,34378.7 142221,37856.3 142254,37824.6C142266,37812.7 141504,36258.1 140559,34372.1C139199,31657.5 138797,30896 138632,30746.4C138446,30569.1 138426,30565.2 138364,30664.2Z" style="fill:rgb(241,187,136);fill-rule:nonzero;stroke:rgb(241,187,136);stroke-width:1px;"/>
            </g>
            <g transform="matrix(2.12003,0,0,2.12003,-9789.8,-6182.75)">
                <path d="M114635,30736.1C113995,31960 111183,37749.8 111212,37777.7C111247,37811.3 118804,34396.7 118851,34324C118862,34301.6 118577,34078.1 118216,33821C117360,33211.9 115951,31859.4 115328,31043.5C115060,30702.6 114833,30417.6 114822,30417.6C114810,30417.6 114723,30562.9 114635,30736.1Z" style="fill:rgb(241,187,136);fill-rule:nonzero;stroke:rgb(241,187,136);stroke-width:1px;"/>
            </g>
            <g transform="matrix(12.3435,2.80132e-31,2.91849e-31,-11.8479,212108,87093.7)">
                <path d="M3290,1373C3290,1359 3775,0 3780,0C3788,0 4273,1371 4266,1377C4263,1380 4210,1374 4148,1364C3993,1338 3563,1337 3418,1363C3310,1382 3290,1383 3290,1373Z" style="fill:rgb(241,187,136);fill-rule:nonzero;stroke:rgb(241,187,136);stroke-width:0.18px;"/>
            </g>
            <g transform="matrix(2.12003,0,0,2.20848,-10508.5,-8636.66)">
                <ellipse cx="126748" cy="22876.5" rx="12866" ry="11360.5" style="fill:rgb(241,187,136);"/>
            </g>
        </g>
        <g id="sun-middle">
            <g transform="matrix(-1.79232,-0.818851,-0.816351,1.78685,504504,102906)">
                <path d="M125226,5693.76C124452,7800.65 123829,9538.69 123846,9555.46C123864,9572.23 124172,9538.69 124533,9482.81C125057,9398.98 125500,9376.63 126676,9376.63C127852,9376.63 128294,9398.98 128818,9482.81C129179,9538.69 129488,9572.23 129505,9555.46C129546,9521.93 126722,1860 126676,1860C126658,1860 126006,3586.87 125226,5693.76Z" style="fill:rgb(238,112,91);fill-rule:nonzero;stroke:rgb(241,187,136);stroke-width:1.08px;"/>
            </g>
            <g transform="matrix(-1.65139,-0.754467,-0.752162,1.64635,483065,96495)">
                <path d="M141422,8348.3C141888,8137.82 142169,8013.02 142181,8013.02C142204,8007.43 142221,8018.6 142221,8035.37C142221,8085.67 138606,15356.4 138559,15401.1C138530,15429 138408,15311.7 138286,15149.6C137569,14195.3 136612,13209.6 135670,12448.2L135670,12447.9C135487,12300 135304,12160.4 135124,12031.2C134763,11774.1 134495,11545 134519,11522.6C134548,11494.7 136271,10695.5 138350,9745.47C139405,9264.36 140367,8826.25 141062,8510.97C141272,8395.09 141403,8333.49 141422,8348.3Z" style="fill:rgb(238,112,91);fill-rule:nonzero;stroke:rgb(241,187,136);stroke-width:1.17px;"/>
            </g>
            <g transform="matrix(-1.66867,-0.762359,-0.760031,1.66357,490459,98802.1)">
                <path d="M114792,15401.1C114740,15350.8 111497,8773.06 111450,8616.58C111427,8543.93 111480,8499.22 111666,8437.75C111806,8387.45 111922,8348.33 111934,8348.33C111963,8337.15 118787,11477.9 118833,11522.6C118856,11545 118583,11774.1 118222,12031.2C117378,12629.2 115963,13992.8 115322,14814.3C115054,15160.8 114816,15423.5 114792,15401.1C114765,15375 113877,13587.2 113023,11853.1L113023,11852.9L114792,15401.1Z" style="fill:rgb(238,112,91);fill-rule:nonzero;stroke:rgb(241,187,136);stroke-width:1.16px;"/>
            </g>
            <g transform="matrix(-10.4355,-4.76762,4.56223,-9.98591,282021,97367.8)">
                <path d="M700,4025C323,3891 17,3778 19,3774C24,3764 1383,3280 1389,3285C1391,3287 1384,3344 1374,3412C1347,3585 1347,3975 1374,4143C1384,4208 1390,4263 1389,4265C1387,4267 1077,4159 700,4025Z" style="fill:rgb(238,112,91);fill-rule:nonzero;stroke:rgb(241,187,136);stroke-width:0.19px;"/>
            </g>
            <g transform="matrix(-1.63249,-0.745829,-0.743552,1.6275,479418,99709.7)">
                <path d="M140609,20481.1C140830,21364.1 140871,23895.7 140684,24985.5C140626,25332 140591,25628.2 140609,25645C140644,25684.1 148626,22973.6 148626,22928.9C148626,22912.1 146943,22325.3 144888,21626.8C141930,20620.8 141086,20352.6 140859,20358.2C140597,20358.2 140580,20369.3 140609,20481.1Z" style="fill:rgb(238,112,91);fill-rule:nonzero;stroke:rgb(241,187,136);stroke-width:1.18px;"/>
            </g>
            <g transform="matrix(-1.79232,-0.818851,-0.816351,1.78685,503873,106723)">
                <path d="M138364,30664.2C137873,31440.3 136043,33263.7 135110,33910.7C134815,34117.1 134572,34303.6 134572,34327.3C134568,34378.7 142221,37856.3 142254,37824.6C142266,37812.7 141504,36258.1 140559,34372.1C139199,31657.5 138797,30896 138632,30746.4C138446,30569.1 138426,30565.2 138364,30664.2Z" style="fill:rgb(238,112,91);fill-rule:nonzero;stroke:rgb(241,187,136);stroke-width:1.08px;"/>
            </g>
            <g transform="matrix(-1.57928,-0.721521,-0.719317,1.57446,477720,101082)">
                <path d="M114635,30736.1C113995,31960 111183,37749.8 111212,37777.7C111247,37811.3 118804,34396.7 118851,34324C118862,34301.6 118577,34078.1 118216,33821C117360,33211.9 115951,31859.4 115328,31043.5C115060,30702.6 114833,30417.6 114822,30417.6C114810,30417.6 114723,30562.9 114635,30736.1Z" style="fill:rgb(238,112,91);fill-rule:nonzero;stroke:rgb(241,187,136);stroke-width:1.22px;"/>
            </g>
            <g transform="matrix(-9.12416,-4.16853,3.98895,-8.7311,277048,95089.5)">
                <path d="M3290,1373C3290,1359 3775,0 3780,0C3788,0 4273,1371 4266,1377C4263,1380 4210,1374 4148,1364C3993,1338 3563,1337 3418,1363C3310,1382 3290,1383 3290,1373Z" style="fill:rgb(238,112,91);fill-rule:nonzero;stroke:rgb(241,187,136);stroke-width:0.22px;"/>
            </g>
        </g>
    </g>
    <g id="waves">
        <path d="M130419,103992C130419,103992 135478,103026 140119,99200.7C144760,95375.8 147359,99200.7 147963,99885.2C147963,99885.2 146484,99071 144202,99104.6C142222,99131.4 142786,103616 146159,103992L130419,103992Z" class="waves-secondary" style="fill:white;fill-rule:nonzero;"/>
        <path d="M120706,103992C120706,103992 127264,102739 133280,97781.3C139296,92823.2 142665,97781.3 143447,98668.6C143447,98668.6 141531,97613.1 138573,97656.6C136006,97691.5 136737,103505 141109,103992L120706,103992Z" style="fill:rgb(0,108,123);fill-rule:nonzero;"/>
        <path class="waves-secondary" d="M102120,103992C102120,103992 112535,101699 122090,92621.7C131644,83544.6 136995,92621.7 138237,94246.1C138237,94246.1 135194,92313.8 130496,92393.5C126419,92457.3 127579,103100 134523,103992L102120,103992Z" style="fill:rgb(54,157,167);fill-rule:nonzero;"/>
        <path d="M83585.4,104004C83585.4,104004 96717.3,101112 108766,89667.1C120813,78221.7 127560,89667.1 129126,91715.3C129126,91715.3 125288,89278.8 119365,89379.3C114224,89459.7 115688,102879 124443,104004L83585.4,104004L83585.5,104004L83585.4,104004Z" style="fill:rgb(0,122,109);fill-rule:nonzero;"/>
        <path d="M49337.9,64068.5C49337.9,64068.5 68414.4,53498.8 83867.1,70804.3C83867.1,70804.3 91211,75591.1 103407,72161.9C103407,72161.9 94684,73377.9 80753.1,61286C80753.1,61286 68644,52188.4 49338,64068.6" style="fill:rgb(54,157,167);fill-rule:nonzero;"/>
        <path class="waves-secondary" d="M75840.6,78043.2C75840.6,78043.2 90921.8,66836.6 106096,79847.3C106096,79847.3 112914,83095.1 122936,78772.6C122936,78772.6 115627,80808.3 102348,72075.5C102348,72075.5 90968.1,65691.4 75840.7,78043.2" style="fill:white;fill-rule:nonzero;"/>
        <path d="M52390.8,103992C52390.8,103992 69677.6,100400 85536.4,86182.3C101396,71964.5 110277,86182.3 112339,88726.6C112339,88726.6 107287,85700.3 99489,85824.9C92722.2,85924.7 95815.3,102607 107340,104004L52390.6,103992L52390.8,103992Z" style="fill:rgb(0,108,123);fill-rule:nonzero;"/>
        <path d="M90187.3,103985C90187.3,103985 99512,102047 108066,94378.2C116621,86709 121412,94378.2 122524,95750.7C122524,95750.7 119799,94118.2 115593,94185.4C111943,94239.3 113611,103238 119828,103992L90187.2,103985L90187.3,103985Z" style="fill:rgb(0,108,123);fill-rule:nonzero;"/>
        <path class="waves-secondary" d="M4970.9,103992C4970.9,103992 23543.2,97716.8 46608,73658.7C69673.2,49600.5 82589.4,73658.7 85587.9,77963.9C85587.9,77963.9 78240.9,72842.9 66900.1,73053.8C57058.6,73222.8 61133.7,99730.5 77895.1,102094L17165.7,103484L4971,103992L4970.9,103992Z" style="fill:rgb(0,108,123);fill-rule:nonzero;"/>
        <path class="wave-under" d="M66668.8,103992C66668.8,103992 81283.1,100709 94690.4,87714.9C108098,74720.4 115606,87714.9 117349,90040.2C117349,90040.2 113079,87274.3 106486,87388.1C100765,87479.5 103565,102715 113308,103992L66668.8,103992Z" style="fill:rgb(54,157,167);fill-rule:nonzero;"/>
        <path d="M65903.1,104084C65903.1,104084 77300.5,101524 87756.6,91389.9C98212.9,81255.7 104068,91389.9 105428,93203.4C105428,93203.4 102097,91046.3 96955.9,91135.1C92494.2,91206.3 94677.4,103088 102276,104084L65903.1,104084Z" style="fill:rgb(0,108,123);fill-rule:nonzero;"/>
        <path class="wave-under" serif:id="wave-under" d="M18187.5,103890C18187.5,103890 40384.5,106567 64564.3,84448.8C88744,62330.6 102284,84448.8 105428,88407C105428,88407 97725.9,83698.9 85837.1,83892.8C75520,84048.2 80515.6,101717 98086.8,103890L13784.2,103890L18187.5,103890Z" style="fill:rgb(0,122,109);fill-rule:nonzero;"/>
        <path class="waves-secondary" d="M36925.3,103992C36925.3,103992 51539.6,100709 64946.9,87714.9C78354.5,74720.4 85862.7,87714.9 87605.7,90040.2C87605.7,90040.2 83335.1,87274.3 76742.7,87388.1C71021.8,87479.5 73821.2,102715 83564.7,103992L36925.3,103992Z" style="fill:rgb(236,248,254);fill-rule:nonzero;"/>
        <path d="M76436.2,77089C76304.4,77133.5 79862.5,72649.9 84798.9,78116.4C84798.9,78116.4 86225.8,79807.8 88365.1,78661.9C88365.1,78661.9 88095.4,80034.2 86530.2,80723.7C84964.8,81413.1 82560.6,79910.3 81848.1,78580.6C81136,77250.6 79459.5,76065.2 76436.2,77089" style="fill:white;fill-rule:nonzero;"/>
        <path d="M111138,85419.2C111138,85419.2 122772,79451.9 131699,90118.1C131699,90118.1 136008,93127.4 143381,91306.6C143381,91306.6 138131,91867.9 130016,84354.8C130016,84354.8 122934,78671.1 111138,85419.2" style="fill:white;fill-rule:nonzero;"/>
        <path d="M4970.9,103992C4970.9,103992 25770.4,98727.6 44735.4,80382.8C63700.4,62038.1 74321,80382.8 76786.1,83665.8C76786.1,83665.8 70745.1,79760.8 61420.2,79921.7C53328.1,80050.8 44139.2,102190 57921.2,103992L4970.9,103992Z" style="fill:rgb(54,157,167);fill-rule:nonzero;"/>
        <path class="waves-secondary" d="M24831.4,103907C24831.4,103907 2594.4,104099 3318.4,103907C6103.21,103170 5068.86,98435.4 28186.6,71030.7C57314.9,36501.2 71054.5,67175.9 74841.2,73355.2C74841.2,73355.2 68684.1,67473.6 54362.2,67776.4C41933.6,68018.9 43709.4,100514 64876.7,103907L24831.3,103907L24831.4,103907Z" style="fill:rgb(0,122,109);fill-rule:nonzero;"/>
    </g>
    <g id="surfer-total">
        <g id="board-legs">
            <path d="M98248.4,75760.8L98229.1,75762C98348.4,75819.2 101688,76763.5 101812,76810.2C106395,78079 111295,79392.8 111044,79323.8C111787,79527.7 112538,79701.3 113277,79918.3C113582,80007.7 114051,80145.1 114349,80301.2C114450,80354.3 114542,80424.2 114632,80496C114950,80751.8 114466,81101.5 114238,81172.3C114099,81215.7 113953,81234.6 113812,81269.1C113373,81375.6 112937,81490.1 112498,81595.3C111767,81770.8 111033,81900.9 110281,81946.7C108898,82030.8 107499,81909 106128,81741.7C102886,81346.2 99721.3,80365.4 96569.6,79572.6C95410.6,79225.1 94251.6,78877.7 93094.4,78524.4C92999.2,78495.3 92905.1,78462.2 92812.5,78425.5C91931.2,78075.9 91052.2,77720.7 90173.1,77365.5C89383.4,76975 88647.2,76473.6 87970,75911.7C87519.6,75537.9 87078.5,75163.6 86722.9,74696.4C86617.8,74558.4 86476.9,74361.3 86478.2,74171.9C86483,73495.4 87197.6,73050.5 87828.2,73174.1L90193.6,73643.1C90193.6,73643.1 94518,74704.8 95249.5,74934.3C95838.3,75092.7 96563.1,75286.4 97450.6,75525.7C97630.4,75574.2 98001.2,75732.4 98229.1,75762L98227.7,75760.7C98228.4,75759.7 98235.5,75759.8 98248.4,75760.8Z" style="fill:rgb(237,175,57);stroke:rgb(182,117,80);stroke-width:202.81px;"/>
            <path d="M109494,80071.9L114266,81066.8C114136,81195.7 113994,81298.2 113478,81266.2L98343.3,78433.2L86478.5,73753.1L98580.8,78051.9L109494,80071.9Z" style="fill:rgb(182,117,80);"/>
            <path id="leg-left" d="M91790.9,65451.3C91569.4,65726.9 91356.9,66009.6 91147.3,66294.3C90949,66563.7 90758.5,66838.9 90567.4,67113.5C90515,67188.9 90468.7,67266.8 90453,67359.3C90426.7,67513 90530.4,67647.6 90633.1,67747.6C90897.6,68004.9 91223.7,68218.2 91447.5,68517.9C91550,68655.4 91653,68793.8 91736.3,68943.7C91955.1,69336.8 91592.1,69706.1 91884.3,70053.3C92076.7,70281.9 92398.4,70320.8 92603.4,70532.3C92721.3,70653.9 92788,70817.6 92899.3,70945.1C93109.8,71186.2 93140.1,71149.5 93351.3,71374.3C93642.7,71684.5 93826.4,72084.7 93954.1,72485.7C93977.7,72560 93981.1,72752.2 93959,72827C93944.5,72875.9 93930,72917 93914.2,72953.1C93731,73412.2 93551.1,73977.4 93560.5,74439.1C93561.8,74516.1 93704,74486.6 93695.9,74573.5C93690.4,74633.5 93677,74678.7 93703.2,74736.7C93741.2,74821.1 93738.1,74874.7 93703.6,74972C93668.5,75070.4 93464.7,75164.6 93506.8,75257.6C93705.2,75698.6 93237.6,75899.7 92657.5,75884.6C91792,75861.8 91261.9,75837.8 90458.2,75553.5C89703.5,75286.5 90142.7,74637.3 90414.1,74270.2C90545.1,74093 90889.9,74045.6 91067,73883.9C91296.1,73673.7 91702.6,73493.4 91859.5,73255.6C91887.4,73213.4 91905.6,73066.6 91918.7,73058.8C91933.8,72931.7 91927.3,72774.9 91917.4,72624.6C91810.2,72444.2 91644.3,72255 91574.6,72130.6C91515.6,72025.3 91451.3,71923 91389,71819.6C91323.1,71710.4 91262.5,71597.8 91189.8,71493C90822.1,70962.7 90104.1,70715.7 89584,70408.4C89118.7,70133.6 88769.7,69702 88332.8,69388.5C88037.8,69176.9 88016.7,69214.4 87738.1,68986.6C87462.5,68761.2 87271.9,68446.1 87236,68088.1C87215.7,67884.8 87252.9,67839.9 87309.5,67649.5C89117.5,59850.5 93722.5,60303.8 91790.9,65451.3ZM88657.8,51870C88650.8,51869.5 88667,51865.6 88659,51870.1L88657.8,51870Z"/>
            <path id="leg-right" d="M96750.8,66016.9C96707.8,67012.8 96741.3,68012.1 96955.4,68988.3C96996.6,69176 97165.2,69230.8 97315.8,69315.7C97603.7,69478.1 97807.2,69567.7 98042.4,69763.8C98758.1,70360.2 99160.4,71178 99632.6,71962.7C99921.6,72442.9 100210,72923.8 100505,73400C100505,73400 101014,74113.8 101096,74257.8C101195,74432.5 101295,74607.1 101395,74781.6C101518,74970 101768,75378.7 101740,75388C101861,75601.5 101983,75808.3 102139,76008.5C102382,76319.5 102601,76417.1 102874,76675.8C103019,76813.7 103426,77112 103460,77270.2C103507,77491.3 103402,77862.8 103567,77949.9C104024,78311.9 103304,78443.8 103026,78432.5C102615,78416 102126,78341.4 101733,78204.1C100928,77922.9 101156,77586.4 100460,77151.5C100118,76937.9 99474,76678.8 99220.9,76369.6C99068.3,76182.8 99094.1,76073.1 99301,75958.8C99393.9,75907.5 99302.2,75609.3 99330,75483.4C99352.9,75379.6 99296.2,75149.4 99348,75145.8C99314.6,74767.9 99132.3,74375.7 99072.4,73985C99028.5,73932.1 98980.9,73883.5 98928.6,73841.4C98808.5,73744.5 98674.5,73666.2 98550.9,73573.8C98045.2,73195.6 97502.7,72808.2 97068.9,72345.4C96836.2,72097.2 96713.8,71720.6 96430.3,71524.3C96171.9,71345.4 95908.8,71173.1 95642.2,71006.8C95479.7,70905.4 95159.4,70764.3 94997.2,70604.6C94746.8,70357.9 94577.3,69929.9 94476.6,69603.3C94254,68880.4 94293.2,68116.1 94264.2,67371.1C93614.2,62652.8 96591.9,59113.6 96750.8,66016.9Z"/>
            <g id="whitewater">
                <g transform="matrix(0.697071,0,0,0.697071,26962.4,17288.1)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(1,0,0,1,3927,0)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(1,0,0,1,-2235,-4094.43)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(1,0,0,1,344.243,-1515.19)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(1,0,0,1,-945.379,-2804.81)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(1,0,0,1,1633.86,-225.565)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(0.697071,0,0,0.697071,33635.3,18893.6)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(0.697071,0,0,0.697071,27861.4,18187.1)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(0.584651,0,0,0.622454,42922.1,23974.7)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(1,0,0,1,-4126.05,-5384.05)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(0.770135,0,0,0.770135,15007.7,11284.4)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(0.540151,0,0,0.540151,34852,27729.6)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(0.540151,0,0,0.540151,33458.9,26336.5)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(0.540151,0,0,0.540151,35910.2,25613.8)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(0.385068,0,0,0.385068,51882.8,40158.5)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(1,0,0,1,-271,-3385.76)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(1,0,0,1,-3524.62,-3385.76)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(0.711061,0,0,0.711061,31395.7,23156.4)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(0.697071,0,0,0.697071,25916.3,16389.2)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(0.697071,0,0,0.697071,25916.3,17288.1)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
                <g transform="matrix(0.500108,0,0,0.500108,49719,32819.3)">
                    <circle cx="89314.6" cy="78853.4" r="1289.62" style="fill:rgb(235,235,235);"/>
                </g>
            </g>
        </g>
        <g id="surfer-body-upper">
            <path id="corpo" d="M94264.2,67371.1C94226,66389.6 94225.2,66392.4 94104.1,65414.9C94046.2,64947 93952.1,64530.4 93623.5,64175.3C93552.6,64098.7 93347,63891.6 93216,63827.9C92834,63642.2 92720.2,64178.6 92590.4,64423.4C92378.1,64823.7 92071.3,65102.3 91790.9,65451.3C90297.1,67506 88803.3,68616.5 87309.5,67649.5C87566.2,66785.9 87817.5,65920.7 88078,65058.2C88346.8,64168.3 88611.7,63255.8 89000,62406.7C89087.1,62216.1 89182.9,62029.4 89284.9,61846.5C89504.2,61453.3 89748.1,61073.9 89963.8,60678.7C89990.5,60629.7 90009.7,60573.5 90009.8,60517.7C90009.9,60467 89925.9,60424.7 89893.6,60408.6C89408.4,60167.7 89361.2,60171.7 88901,59887.3C88588.7,59694.3 88348.5,59405.5 88078.6,59163.2C87797.1,58910.5 87448.2,58749.3 87140,58535.1C87023.2,58453.8 86924.7,58347.5 86805.7,58269.5C86291.7,57932.7 86062.3,57831.9 85484.5,57626.1L85480.3,57624.5C85030.6,57762.3 83828.1,55683.4 83912.6,55577.4C84080.7,55366.7 85234.7,53703.2 85359,53464C85387.3,53409.5 85399.6,53419.6 85401.1,53441.9L85359,53464C85384.4,53528.4 85403.3,53473.1 85401.1,53441.9C85401.1,53441.9 88405.1,51765 88433.2,51851.2L88547.7,51928.3L88433.2,51851.2L88557.3,51865.7L88657.8,51870L88659,51870C88736,51871.3 91814.1,52845.8 91891,52842.4C92483.2,52816.6 92794.8,54095.8 93300.6,54838.1C93297.8,54842.4 93295.9,54846.9 93294.8,54851.7L93301.5,54839.5L93300.6,54838.1C93310,54823.9 93308.7,54826.5 93301.5,54839.5C93343.1,54900.8 93365.4,54951.6 93365.3,54989.9C93399.4,55029.2 93435.5,55064.9 93449.2,55085.2C93731.8,55505.8 93837.2,55708.3 94147,56036.2C94578.9,56493.3 95116.8,56828.8 95578.1,57253.3C96232.3,57855.3 96674.1,58621.6 96881.2,59486.5C97043.9,60165.8 97098.2,60838.2 97061.4,61534.9C97037.2,61992.3 96906.9,63022.1 96886.1,63334.6C96826.5,64227.9 96789.4,65122.5 96750.8,66016.9C96439.5,68961.6 94366.4,68436 94264.2,67371.1Z"/>
            <g id="hand-left">
                <path d="M77509.4,63696.9C76650.8,64326.1 76351.2,64480.4 76760.4,64988C76911.5,65175.3 77578.2,65173.2 77728,64985.1C77774.7,64926.4 77714.6,64807.1 77977.7,64738.9C78634.2,64568.6 78531.7,63980.2 78759.4,63881.3C78267.2,63922.3 77854.1,63856.1 77509.4,63696.9Z" style="fill:rgb(242,211,225);fill-rule:nonzero;stroke:black;stroke-width:87.5px;"/>
                <path d="M78734.4,63938.2C79181.3,63744 79560.3,63450.2 79946,63157.1C80684.8,62595.6 80700.6,62788.4 81921.5,61761.5C82299.5,61443.5 82730.2,61186.9 82983.4,60730.6C83227.2,60291.3 83642.9,59981 83924.4,59566C84009.9,59440 84121.4,59336.6 84228.1,59227.6C85797.5,57624.9 84914,58384 85693.8,57527.1C85753.6,57461.4 85826.1,57434.7 85918.5,57465.4C88606.9,56015.7 87629.1,55089.8 84950.7,54406.8C84697.7,54651.3 84432.2,54878.3 84167.5,55109C83523.9,55669.9 83363.6,56875.7 83170.6,57177.9C83038.3,57385.2 82427.6,58498.2 81777.2,58919.9C80504.8,59744.8 80338.5,60540.3 79770.2,61202.5C79280.5,61773.1 77778.8,63447.5 77387,63734.6C77387,63734.6 77495.1,63773 77542.9,63789.9C77557.6,63795.2 77573,63798.5 77588.6,63800C77665.5,63807.1 77906.5,63829.4 77944.9,63833C77948.4,63833.3 77951.8,63833.8 77955.2,63834.3L78503.1,63924.8C78510.2,63926 78517.3,63926.8 78524.4,63927.1C78568.5,63929.5 78734.4,63938.2 78734.4,63938.2Z" style="fill-rule:nonzero;"/>
            </g>
            <g id="hand-right">
                <path d="M100911,55996.9C101146,56227.9 101601,56308.1 101893,56454.3C102645,56830.9 103606,56668 102598,56335.8C102383,56264.6 102727,56217.7 103054,56275.7C103864,56419.6 103709,56479.5 103857,56431.9C104240,56307.9 103312,56085.8 103010,55881.6C103375,55784.7 104059,56366.2 104217,56044.8C104371,55732.2 103116,55373.1 102906,55335.8C103096,55305.9 103267,55355.7 103435,55424.7C103577,55482.9 104180,55745.3 104231,55598.7C104275,55473.4 104142,55380.3 104019,55336.3C103687,55217.1 103355,55098.9 102998,55073.9C102903,55067.3 102802,55067.9 102713,54981.7C102770,54926.2 102834,54935.6 102895,54926.7C103317,54865.5 103790,55055.6 103820,54906.4C103895,54527.7 102771,54568.8 102398,54554.9C102070,54542.6 101741,54519.2 101416,54645.7C101081,55129.4 100916,55579.1 100911,55996.9Z" style="fill:rgb(242,211,225);stroke:black;stroke-width:87.5px;"/>
                <path d="M93289.6,54894.1C93336.1,54830.4 93419.6,54871.3 93486.4,54876C95766.6,55036.4 95805.2,54812.7 96754.6,55089.1C97159.4,55206.9 97549.6,55390.5 97981.8,55386.4C98918.7,55377.5 99816.4,55565.7 100684,55909.3C100755,55937.5 100837,55921.6 100902,55975.9C100906,55978.7 100910,55979.9 100914,55979.2C100918,55978.5 100922,55976 100924,55972.3L100960,55915.3L101080,55717.3L101267,55081.8L101386,54846.4L101445,54647.5C101444,54599.3 101326,54600.7 100973,54536.1C100973,54536.1 99521.7,54267.3 97383.3,53353.5C96822.5,53113.9 96212.8,53168 95635.6,53014.8C94172.7,52626.5 94103.3,52760.4 92312.9,52212.4C91085.9,51836.8 90937.7,51794.2 88624,51856.8C87791.2,55125.8 88645.4,56800.6 93289.6,54894.1Z" style="fill-rule:nonzero;"/>
            </g>
            <g id="face-total">
                <path d="M90629.9,43019.2L90716.4,43025C90716.4,43025 90628.7,43026.2 90629.9,43019.2C90629.9,43019.2 90795.7,43029.6 90795.3,43032.1C93360.6,43000.2 91353,49459.8 90155.2,47559.5C90155.2,47559.5 89643.7,49530.7 89381.9,50538.5C89282.1,50923 89098.4,51280.7 88844,51585.9C85560.1,55530.4 83335.6,57570.2 80665.6,55190.2C79918.1,54524 78499.7,53146.8 77654.7,51746C77486.6,51456.9 77363,51144.3 77287.9,50818.5C76954.3,49375.3 76606.1,47924.4 76310.4,46478.8C76062.9,45269.1 75866,44065.7 75645.6,42854C75634,42790.4 75622.4,42726.8 75610.7,42663.2C75582.1,42488.7 75771.4,42301.2 75749.7,42136.9C75537.2,40529.8 75452.3,39354.4 76134.3,36958.5C84181.3,33833.1 89097.3,34664.9 90629.9,43019.2Z" style="fill:rgb(242,211,225);stroke:black;stroke-width:88px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
                <path id="mouth" d="M79030.1,49890.5C79367.3,49543.5 79696.1,49153 80126.9,49076.4C82199.6,48708.1 84431.6,48891.7 85418.1,49238.3C83806.1,52195.5 81749.3,52796.5 79030.1,49890.5Z" style="fill:rgb(81,49,50);stroke:black;stroke-width:88px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
                <path d="M88896.9,42727.7C88896.9,42727.7 88908.8,42770.8 88908.5,42835.6C88907.6,43072.5 89008,43298.4 89184.4,43456.5C89360.8,43614.6 89596.4,43689.7 89831.8,43662.9L89831.9,43662.9C89852.2,43660.6 89868.7,43645.3 89872.6,43625.3C89989.1,42944.5 90336.3,43046.6 90772.8,43031.2C90635.6,42901.2 89668.6,42816 88896.9,42727.7Z" style="fill:rgb(81,43,24);stroke:black;stroke-width:93.75px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
                <path id="cheek-right-small" d="M86668.6,48937.4C86806.8,49714.4 86758.7,50279.2 86604.5,50964.1" style="fill:none;stroke:black;stroke-width:31.14px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
                <path id="cheek-right" d="M83752.7,45948C86390.3,47949.1 86568.6,49638.7 85662.3,51839.2" style="fill:none;stroke:black;stroke-width:30.58px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
                <path id="cheek-left" d="M79285.4,46367.9C78060.1,48491.1 78196.2,50265 79582.1,52088.5" style="fill:none;stroke:black;stroke-width:30.58px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
                <path id="teeth-top" d="M85025.4,49720.4C83252.3,49927.3 81510.9,50095.2 79853.6,50160C79247.4,49762.3 79537.5,49661.8 79878.6,49538.5C80010.5,49449.2 80209.4,49393.1 80547.4,49238.5C80610.3,49210 80677.6,49192.2 80746.4,49185.7C82319.5,49038.5 83875.3,49071.7 85418.3,49238.2C85201.4,49673.6 85094.9,49756.1 85025.4,49720.4Z" style="fill:white;stroke:black;stroke-width:88px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
                <path id="teeth-bottom" d="M81254,51540.7C82028.3,51566.4 82969.3,51458.7 83650.3,51296C83069.8,51766.5 82164.4,51976.1 81254,51540.7Z" style="fill:white;stroke:black;stroke-width:93.75px;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:1.5;"/>
                <path id="eyebrow-right" d="M83307.8,41192.9C83307.8,41192.9 83527.3,40958.4 83554.1,40957.5C83644,40954.6 83726.2,40999 83855.5,40959.9C84125,40878.5 84052.7,40802.9 84403.8,40750.6C84523.4,40732.9 84665.7,40877.2 84695.6,40874.1C84804.4,40863 84792.1,40814 84983.7,40841.6C85204.8,40873.5 85428.1,40967 85635.2,41045.4C85775.7,41098.6 86062.1,41052.4 86165.4,41136.6C86193,41159.1 86423.2,41387.2 86367.7,41455.4C86335.7,41494.6 85599.7,41479.7 85523,41417.2C85456.5,41363 85430.2,41324.9 85329.5,41286.8C85203.6,41239.1 84901.7,41330.5 84764.8,41344.5C84507.6,41370.7 83224.2,41642.6 83103.4,41544.1C83034,41487.6 83311,41224.5 83307.8,41192.9Z" style="fill:rgb(81,43,24);stroke:black;stroke-width:134.03px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
                <path id="eyebrow-left" d="M78802.2,41749.6C78802.2,41749.6 78537.8,41567.3 78511.4,41572.2C78422.9,41588.6 78352.1,41649.4 78217.4,41638.9C77936.7,41616.8 77991.2,41527.6 77637.1,41551.4C77516.4,41559.5 77408.3,41730.9 77378.4,41734.3C77269.7,41746.7 77271.3,41696.1 77089.9,41764C76880.7,41842.3 76682.5,41981.3 76497,42102.1C76371.1,42184 76068.5,41995.9 75985.6,42100.1C75963.4,42128 75805.5,42388.8 75874.3,42443.6C75913.9,42475 76624.3,42518.9 76685.9,42441.4C76739.3,42374.3 76756.9,42331.4 76847.1,42272.7C76960,42199.3 77274.4,42224.1 77411.1,42208.6C77668,42179.3 78979.8,42171.1 79076.8,42049.1C79132.5,41979.1 78805.8,41781.2 78802.2,41749.6Z" style="fill:rgb(81,43,24);stroke:black;stroke-width:134.03px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
                <path id="glasses" d="M90873.2,42393.6L87208.3,41305.6C85130.2,40979.5 83522,41009.6 81934.7,41640C81414.1,41733.2 80823.4,41988.5 80274.1,41828.9C78704.1,41767.4 77173.2,41735.6 75534.8,42191.1C75587.6,43390.4 75773.3,44518.3 76308.6,45457.9C76405,45624.4 76571.4,45738.5 76761.4,45768.4C79162.2,46149.5 80210.6,44990.8 80723.1,42663.1L81684.5,42553.8C81903.8,43745.4 82218.1,44581.9 82846.8,44988.8C83154,45187.7 83634,45247.3 84025.5,45266.6C84647.8,45297.3 85371.1,45104.5 86177.9,44698.4C86992.7,44085.7 86937.3,43428.8 87065.4,42384.2L89504.7,42814.9C91209.9,43113.9 91475.3,42673 90873.2,42393.6Z" style="fill:rgb(77,77,77);"/>
                <path id="glasses1" serif:id="glasses" d="M90873.2,42393.6L87208.3,41305.6C85130.2,40979.5 83522,41009.6 81934.7,41640C81414.1,41733.2 80823.4,41988.5 80274.1,41828.9C78704.1,41767.4 77173.2,41735.6 75534.8,42191.1C75587.6,43390.4 75773.3,44518.3 76308.6,45457.9C76405,45624.4 76571.4,45738.5 76761.4,45768.4C79162.2,46149.5 80210.6,44990.8 80723.1,42663.1L81684.5,42553.8C81903.8,43745.4 82218.1,44581.9 82846.8,44988.8C83154,45187.7 83634,45247.3 84025.5,45266.6C84647.8,45297.3 85371.1,45104.5 86177.9,44698.4C86992.7,44085.7 86937.3,43428.8 87065.4,42384.2L89504.7,42814.9C91209.9,43113.9 91475.3,42673 90873.2,42393.6Z" style="fill:none;stroke:black;stroke-width:88px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
                <path d="M81724.2,42903.3C81695.2,43335.6 81624.1,43996.8 82565.8,45098.1C82607.3,45146.7 82733.9,45272.5 82785.5,45310.1C83066.2,45514.9 83052.2,45692.9 83087.2,45945.3C83133.1,46292 83064.9,46595.7 82721.2,46660C82251,46746.6 81866.9,46882.2 81518.8,47093C81083.5,47356.7 80735.1,47096 80062.3,46997.7C79792.3,46924.9 79600.5,46678.7 79597.6,46399C79591.6,46042.9 79641.5,45705.6 79961.5,45312.3C80014.6,45247.3 80056.5,45173.9 80085.5,45095.1C80498,43986.8 80641.5,43326.4 80655.5,42847.8" style="fill:none;stroke:black;stroke-width:42.33px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
                <path d="M75640.8,36717.4C75549.2,36610.9 75526.5,36465.1 75591.4,36274C75678.2,36018.7 75289.9,35695.9 75424.5,35584.7C75610.1,35431.4 76457.8,35332.7 76510.9,35018.5L76487.1,35000.5C76482.5,34803.3 76810.8,34837.4 76709.5,34621C76652.4,34499.1 74522.1,33582.7 74452.9,33461.3C74153.6,32936.7 75914.3,33023.5 76053.8,32748C76229,32401.9 77918.4,32895.7 78258.6,32674.2C78439.5,32556.5 76983.5,32012.2 77207.3,31926.8C77488.7,31819.4 79195.1,32322.6 79539.7,32262.9C80323.1,32127.2 77403.2,31333.3 78469,31410.9C78923.4,31444 79225.6,31515.1 80538.7,31706.6C80995,31773.1 80348.7,31144.6 80838.6,31229.8C81467.5,31339.2 85070.9,32208.4 85747,32353.4C87572.4,33179 88977.6,34340.7 89878.5,35855.2C90831.7,37457.5 91215.5,38046.8 90940.3,40459.1L90799.6,42334.2L89653.2,42021.9L89331.6,41881.5L88972.1,41833.9C88972.1,41833.9 88939.1,41197.5 88923.7,40903.3C88918.7,40806.4 88899.9,40710.7 88868,40619.1C88702.3,40134.5 88581.2,39703 88048.9,39468.2C87755.3,39336.5 87549.3,39064 87502.4,38745.7C87325.1,37566.6 86285.3,36971.4 85401.9,36131.6C85284.6,36018 85009.3,35952.1 84847.6,35929.1C83349.8,35714.7 81687.9,35635.6 79246.4,36361.9C79223.6,36368.7 79201.1,36376.1 79178.8,36384.1C77970.1,36815.9 76687.3,37206.1 76030.5,37020.8C76025.8,37641 75940.3,38181.9 75705,38828.4L75640.8,36717.4Z" style="fill:rgb(81,43,24);stroke:black;stroke-width:88px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
                <path d="M86047.6,34334.8C84505,32747.1 83011.6,31666.8 80631.3,31709.4" style="fill:none;stroke:black;stroke-width:86.63px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
                <path d="M81301.2,34328.4C81026.7,33953.4 80645.9,33640.9 80164.3,33387.7C79648.6,33116.5 78726.9,32888.8 77986.6,32749.7" style="fill:none;stroke:black;stroke-width:86.63px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
                <path d="M79375,32262.5C81047.1,31967.3 82844.8,33146.2 83673.3,33943.4" style="fill:none;stroke:black;stroke-width:86.63px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
                <path d="M76700.8,34592.9C77550.6,34756.5 78146.5,35085.4 78508.5,35566.4" style="fill:none;stroke:black;stroke-width:86.63px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
                <path d="M79879.5,42276.5C78620,42093.9 77408.6,42022.1 76175.7,42456.4C76056.6,42499.1 75979.9,42615.3 75987.4,42741.5C76040.7,43620.4 76193.6,44446 76575.9,45148.1C76673.8,45325.2 76849.1,45446.1 77049.4,45474.7C78969.1,45754 79813.6,44804.2 80228.8,42918.3C80219.5,42436.5 80139.3,42295.5 79879.5,42276.5Z" style="fill:url(#_Linear1);stroke:black;stroke-width:88px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
                <path d="M82171.8,42748C82350.8,43720.7 82607.3,44403.4 83120.5,44735.6C83371.2,44897.8 83763,44946.6 84082.6,44962.3C84590.5,44987.3 85180.9,44829.9 85839.4,44498.5C86504.5,43998.4 86459.3,43462.2 86563.8,42609.6C86563.8,42609.6 86605.7,42293.8 86639.3,42040.5C86662.3,41866.4 86540.5,41706.3 86366.5,41682.3C84820,41468 83590.5,41519.8 82376,42002.2C82212.4,42174.7 82122.3,42405.8 82171.8,42748Z" style="fill:url(#_Linear2);stroke:black;stroke-width:88px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
            </g>
        </g>
    </g>
    <g id="wind2">
        <g id="svg_1" transform="matrix(1,0,0,1,-59460.6,26534)">
            <path d="M38921.6,23594.9C38921.6,23594.9 45400.7,27284.4 51602.5,28338.7C56531.5,29213.5 60279.3,24090.5 64722.6,25436C67261.8,26193.5 68897.9,28610.9 71377.4,28091.9C73857,27572.9 74146.3,24388.6 74146.3,24388.6" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:93.89px;stroke-linejoin:miter;stroke-miterlimit:4;"/>
        </g>
        <g id="svg_6" transform="matrix(1,0,0,1,-26839.6,-18805.9)">
            <path d="M38921.6,23594.9C38921.6,23594.9 45400.7,27284.4 51602.5,28338.7C56531.5,29213.5 60279.3,24090.5 64722.6,25436C67261.8,26193.5 68897.9,28610.9 71377.4,28091.9C73857,27572.9 74146.3,24388.6 74146.3,24388.6" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:93.89px;stroke-linejoin:miter;stroke-miterlimit:4;"/>
        </g>
        <g id="svg_3" transform="matrix(1,0,0,-1,-67808.6,38621.2)">
            <path d="M38921.6,23594.9C38921.6,23594.9 45400.7,27284.4 51602.5,28338.7C56531.5,29213.5 60279.3,24090.5 64722.6,25436C67261.8,26193.5 68897.9,28610.9 71377.4,28091.9C73857,27572.9 74146.3,24388.6 74146.3,24388.6" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:93.89px;stroke-linejoin:miter;stroke-miterlimit:4;"/>
        </g>
        <g id="svg_2" transform="matrix(1,0,0,1,-68784.6,11499.7)">
            <path d="M39897.6,26017.4C39897.6,26017.4 45400.7,27284.4 51602.5,28338.7C56531.5,29213.5 56472.3,24671.9 60915.6,26017.4C63454.8,26774.9 68897.9,28610.9 71377.4,28091.9C73857,27572.9 77456.6,26017.4 77456.6,26017.4" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:93.89px;stroke-linejoin:miter;stroke-miterlimit:4;"/>
        </g>
    </g>
    <g id="wind1">
        <g id="svg_31" serif:id="svg_3" transform="matrix(1,0,0,1,-8496.5,12098.2)">
            <path d="M20863.5,35797.2C20863.5,35797.2 24862,37693.8 33973.9,37996.6C42979.9,38297.8 47989.9,36543.1 48436.4,35115.1C48882.9,33687.2 48046.3,32956.5 47097.5,32622.7C46359.4,32371.9 45401.8,32596 45182.3,33070.9C44964.1,33466 45273.3,34028.9 45800.7,34196.7C46328.1,34364.4 46860.5,34213.4 47077.5,33897.9C47188.5,33580.8 47087.5,33260.3 46664.8,33173.9C46348.1,33089.2 46028.9,33163.9 45813.2,33399.7C45704.7,33557.4 45806.9,33798.2 46123.6,33882.9C46334.3,33965.9 46547.5,33889.6 46656,33731.8C46763.3,33653.8 46659.8,33492.7 46449.1,33409.7" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:110.46px;stroke-linejoin:miter;stroke-miterlimit:4;"/>
        </g>
        <g id="svg_32" serif:id="svg_3" transform="matrix(1,0,0,1,-45986.4,-8334.77)">
            <path d="M20863.5,35797.2C20863.5,35797.2 24862,37693.8 33973.9,37996.6C42979.9,38297.8 47989.9,36543.1 48436.4,35115.1C48882.9,33687.2 48046.3,32956.5 47097.5,32622.7C46359.4,32371.9 45401.8,32596 45182.3,33070.9C44964.1,33466 45273.3,34028.9 45800.7,34196.7C46328.1,34364.4 46860.5,34213.4 47077.5,33897.9C47188.5,33580.8 47087.5,33260.3 46664.8,33173.9C46348.1,33089.2 46028.9,33163.9 45813.2,33399.7C45704.7,33557.4 45806.9,33798.2 46123.6,33882.9C46334.3,33965.9 46547.5,33889.6 46656,33731.8C46763.3,33653.8 46659.8,33492.7 46449.1,33409.7" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:110.46px;stroke-linejoin:miter;stroke-miterlimit:4;"/>
        </g>
        <g id="svg_61" serif:id="svg_6" transform="matrix(1,0,0,-1,16105.5,88159.7)">
            <path d="M20863.5,35797.2C20863.5,35797.2 24862,37693.8 33973.9,37996.6C42979.9,38297.8 47989.9,36543.1 48436.4,35115.1C48882.9,33687.2 48046.3,32956.5 47097.5,32622.7C46359.4,32371.9 45401.8,32596 45182.3,33070.9C44964.1,33466 45273.3,34028.9 45800.7,34196.7C46328.1,34364.4 46860.5,34213.4 47077.5,33897.9C47188.5,33580.8 47087.5,33260.3 46664.8,33173.9C46348.1,33089.2 46028.9,33163.9 45813.2,33399.7C45704.7,33557.4 45806.9,33798.2 46123.6,33882.9C46334.3,33965.9 46547.5,33889.6 46656,33731.8C46763.3,33653.8 46659.8,33492.7 46449.1,33409.7" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:110.46px;stroke-linejoin:miter;stroke-miterlimit:4;"/>
        </g>
        <g id="svg_5" transform="matrix(0.678473,0,0,0.678473,72204.8,49523.5)">
            <path d="M38921.6,23594.9C38921.6,23594.9 45400.7,27284.4 51602.5,28338.7C56531.5,29213.5 60279.3,24090.5 64722.6,25436C67261.8,26193.5 68897.9,28610.9 71377.4,28091.9C73857,27572.9 74146.3,24388.6 74146.3,24388.6" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:93.89px;stroke-linejoin:miter;stroke-miterlimit:4;"/>
        </g>
        <g id="svg_11" serif:id="svg_1" transform="matrix(0.8517,0,0,-0.8517,10017.5,56589.6)">
            <path d="M12588.3,46810.9C12588.3,46810.9 14884.4,47571.6 18676.5,47320.5C21517.1,47210 24608.8,46798.1 27527.7,46331.4C32398.8,45552.6 36788.4,44621.4 38725.5,44684.3C40997.8,44720.1 42498.1,45676 42269.5,47070.9C42045.8,48155.1 40380.1,48957.7 38592.3,48774.1C37147.9,48647.8 36128,47803 36279.6,46924.8C36428.7,46202 37469.8,45700.5 38638.7,45822.5C39533.1,45888.3 40213.5,46417 40066.8,46984.5C39990.6,47449.4 39297.2,47749.3 38540.5,47685.6C37921.6,47624.1 37513.3,47306.8 37587.9,46945.4C37661.7,46635.8 38078.1,46435.2 38559.3,46494.6C38903.6,46500 39174.9,46763.2 39171.7,46970.4" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:110.46px;stroke-linejoin:miter;stroke-miterlimit:4;"/>
        </g>
    </g>
    <g id="shark" transform="matrix(2.1419,0,0,2.1419,-28980.3,40158.7)">
        <path d="M53767.6,29802C53389.1,29755.1 52842.8,29535.9 52123,29034C49224.8,24911.7 47104.7,22685.3 45350.1,21501C44147,20689 43593.9,20354.1 43265.3,20669.5C42921.6,20999.5 43642.3,22679 44131.7,24888.7C44330.6,25786.9 44441.4,26811.4 44462.7,27919.5C44479,28766.6 43958.1,29590.2 43411,29802L53767.6,29802Z" style="fill:url(#_Radial3);stroke:black;stroke-width:0.47px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
    </g>
    <defs>
        <linearGradient id="_Linear1" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(4241.89,0,0,4241.89,75195.2,43108.3)"><stop offset="0" style="stop-color:rgb(87,87,87);stop-opacity:1"/><stop offset="0.53" style="stop-color:rgb(67,67,67);stop-opacity:1"/><stop offset="1" style="stop-color:black;stop-opacity:1"/></linearGradient>
        <linearGradient id="_Linear2" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(10655.1,0,0,10655.1,75987,43542.4)"><stop offset="0" style="stop-color:white;stop-opacity:1"/><stop offset="1" style="stop-color:black;stop-opacity:1"/></linearGradient>
        <radialGradient id="_Radial3" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(10592,0,0,9249.8,43175.6,25177.1)"><stop offset="0" style="stop-color:rgb(59,58,58);stop-opacity:1"/><stop offset="0.51" style="stop-color:rgb(64,65,68);stop-opacity:1"/><stop offset="1" style="stop-color:rgb(80,87,99);stop-opacity:1"/></radialGradient>
    </defs>
</svg> */